# BEGIN ANSIBLE MANAGED BLOCK for worker2 docker swarm node
Host worker2
    Hostname 10.101.1.196
    IdentityFile ~/.ssh/piers-ska.pem
    BatchMode              yes
    StrictHostKeyChecking no
    User ubuntu
    ProxyCommand ssh -W %h:%p ubuntu@150.242.42.91
# END ANSIBLE MANAGED BLOCK for worker2 docker swarm node
# BEGIN ANSIBLE MANAGED BLOCK for worker1 docker swarm node
Host worker1
    Hostname 10.101.1.195
    IdentityFile ~/.ssh/piers-ska.pem
    BatchMode              yes
    StrictHostKeyChecking no
    User ubuntu
    ProxyCommand ssh -W %h:%p ubuntu@150.242.42.91
# END ANSIBLE MANAGED BLOCK for worker1 docker swarm node
# BEGIN ANSIBLE MANAGED BLOCK for manager1 docker swarm node
Host manager1
    Hostname 150.242.42.91
    IdentityFile ~/.ssh/piers-ska.pem
    BatchMode                yes
    PasswordAuthentication   no
    GSSAPIAuthentication     no
    PreferredAuthentications publickey
    StrictHostKeyChecking    no
    User ubuntu

Host 150.242.42.91
    IdentityFile ~/.ssh/piers-ska.pem
    BatchMode                yes
    PasswordAuthentication   no
    GSSAPIAuthentication     no
    PreferredAuthentications publickey
    StrictHostKeyChecking    no
    User ubuntu

Host 10.101.1.*
    User ubuntu
    IdentityFile ~/.ssh/piers-ska.pem
    BatchMode             yes
    StrictHostKeyChecking no
    ProxyCommand ssh -W %h:%p ubuntu@150.242.42.91
# END ANSIBLE MANAGED BLOCK for manager1 docker swarm node


# last resort!
Host 150.242.*
    IdentityFile ~/.ssh/piers-ska.pem
    BatchMode              yes
    PasswordAuthentication no
    GSSAPIAuthentication no
    PreferredAuthentications publickey
    StrictHostKeyChecking no
    User ubuntu
