global:
  scrape_interval:     5s
  evaluation_interval: 5s

# Attach these labels to any time series or alerts when communicating with
# external systems (federation, remote storage, Alertmanager).
  external_labels:
    monitor: 'docker-master'

# Load and evaluate rules in this file every 'evaluation_interval' seconds.
rule_files:
- "targets.rules"
- "host.rules"
- "containers.rules"

# A scrape configuration containing exactly one endpoint to scrape.
scrape_configs:
  # - job_name: 'qpid'
  #   static_configs:
  #    - targets:
  #      - 10.101.1.188:9100
  #      - 10.101.1.189:9100
  #      - 10.101.1.190:9100
  - job_name: 'nodeexporter'
    static_configs:
     - targets:
{% for item in groups["cluster"] %}
       - {{ hostvars[item].ansible_host }}:9100
{% endfor %}
    metric_relabel_configs:
    - source_labels: [instance]
      regex: '^([0-9\.]+):[0-9]+'
      replacement: '$1'
      target_label: instance
    - source_labels: [instance]
      regex: '(10.60.253.27)'
      replacement: 'controller'
      target_label: instance
    - source_labels: [instance]
      regex: '(10.60.253.26)'
      replacement: 'compute0'
      target_label: instance
    - source_labels: [instance]
      regex: '(10.60.253.45)'
      replacement: 'compute1'
      target_label: instance
    - source_labels: [instance]
      regex: '(10.60.253.30)'
      replacement: 'compute2'
      target_label: instance

  - job_name: 'dockermetrics'
    static_configs:
     - targets:
{% for item in groups["cluster"] %}
       - {{ hostvars[item].ansible_host }}:9323
{% endfor %}
    metric_relabel_configs:
    - source_labels: [instance]
      regex: '^([0-9\.]+):[0-9]+'
      replacement: '$1'
      target_label: instance
    - source_labels: [instance]
      regex: '(10.60.253.27)'
      replacement: 'controller'
      target_label: instance
    - source_labels: [instance]
      regex: '(10.60.253.26)'
      replacement: 'compute0'
      target_label: instance
    - source_labels: [instance]
      regex: '(10.60.253.45)'
      replacement: 'compute1'
      target_label: instance
    - source_labels: [instance]
      regex: '(10.60.253.30)'
      replacement: 'compute2'
      target_label: instance

  - job_name: 'cadvisor'
    static_configs:
     - targets:
{% for item in groups["cluster"] %}
       - {{ hostvars[item].ansible_host }}:8081
{% endfor %}
    metric_relabel_configs:
    - source_labels: [instance]
      regex: '^([0-9\.]+):[0-9]+'
      replacement: '$1'
      target_label: instance
    - source_labels: [instance]
      regex: '(10.60.253.27)'
      replacement: 'controller'
      target_label: instance
    - source_labels: [instance]
      regex: '(10.60.253.26)'
      replacement: 'compute0'
      target_label: instance
    - source_labels: [instance]
      regex: '(10.60.253.45)'
      replacement: 'compute1'
      target_label: instance
    - source_labels: [instance]
      regex: '(10.60.253.30)'
      replacement: 'compute2'
      target_label: instance

  - job_name: 'pexporter'
    static_configs:
     - targets:
{% for item in groups["cluster"] %}
       - {{ hostvars[item].ansible_host }}:9256
{% endfor %}
    metric_relabel_configs:
    - source_labels: [instance]
      regex: '^([0-9\.]+):[0-9]+'
      replacement: '$1'
      target_label: instance
    - source_labels: [instance]
      regex: '(10.60.253.27)'
      replacement: 'controller'
      target_label: instance
    - source_labels: [instance]
      regex: '(10.60.253.26)'
      replacement: 'compute0'
      target_label: instance
    - source_labels: [instance]
      regex: '(10.60.253.45)'
      replacement: 'compute1'
      target_label: instance
    - source_labels: [instance]
      regex: '(10.60.253.30)'
      replacement: 'compute2'
      target_label: instance

  # - job_name: 'elasticsearch'
  #   metrics_path: "/_prometheus/metrics"
  #   static_configs:
  #    - targets:
  #      - 10.101.1.158:9200

  # - job_name: 'logstash'
  #   static_configs:
  #    - targets:
  #      - 10.128.26.15:1234
  #      - 10.128.26.15:1235


  #- job_name: 'nodeexporter'
  #  scrape_interval: 5s
  #  # static_configs:
  #  #   - targets: ['nodeexporter:9100']
  #  file_sd_configs:
  #      - files:
  #          - /etc/prometheus/static_configs/nodeexporter*.yaml
  #      # - refresh_interval: 1m

  #- job_name: 'cadvisor'
  #  scrape_interval: 5s
  #  # static_configs:
  #  #   - targets: ['cadvisor:8080']
  #  file_sd_configs:
  #      - files:
  #          - /etc/prometheus/static_configs/cadvisor*.yaml
  #      # - refresh_interval: 1m

  #- job_name: 'docker'
  #  scrape_interval: 5s
  #  # static_configs:
  #  #   - targets: ['docker:9323']
  #  file_sd_configs:
  #      - files:
  #          - /etc/prometheus/static_configs/docker*.yaml
  #      # - refresh_interval: 1m

  #- job_name: 'process'
  #  scrape_interval: 5s
  #  # static_configs:
  #  #   - targets: ['docker:9323']
  #  file_sd_configs:
  #      - files:
  #          - /etc/prometheus/static_configs/process*.yaml
  #      # - refresh_interval: 1m

  #  - job_name: 'masternode'
  #    scrape_interval: 5s
  #    static_configs:
  #      - targets: ['kafka-master-0:8000']

  - job_name: 'prometheus'
    scrape_interval: 10s
    static_configs:
      - targets: ['localhost:9090']

  #  - job_name: 'nginx'
  #    scrape_interval: 10s
  #    static_configs:
  #      - targets: ['nginxexporter:9113']
