export OS_AUTH_SYSTEM=noauth
export OS_CINDER_ENDPOINT=http://{{ cluster_api_address }}:8776/v3
export OS_PROJECT_ID=myproject
export OS_VOLUME_API_VERSION=3.44
export OS_USERNAME=admin
export OS_PROJECT_ID=admin
